<div class="container">

    <div class="result">
        <h1>{{result}}</h1>
    </div>

    <div class="keypad">
    
        <div class="keypad-rows">
            <button class="keypad-btn">C</button>
            <button class="keypad-btn">+/-</button>
            <button class="keypad-btn">%</button>
            <button class="keypad-btn org-btn">/</button>
        </div>

        <div class="keypad-rows">
            <button class="keypad-btn">7</button>
            <button class="keypad-btn">8</button>
            <button class="keypad-btn">9</button>
            <button class="keypad-btn org-btn">X</button>
        </div>

        <div class="keypad-rows">
            <button class="keypad-btn">4</button>
            <button class="keypad-btn">5</button>
            <button class="keypad-btn">6</button>
            <button class="keypad-btn org-btn">-</button>
        </div>
        
        <div class="keypad-rows">
            <button class="keypad-btn">1</button>
            <button class="keypad-btn">2</button>
            <button class="keypad-btn">3</button>
            <button class="keypad-btn org-btn">+</button>
        </div>

        <div class="keypad-rows">
            <button class="keypad-btn dbl-btn">0</button>
            <button class="keypad-btn">.</button>
            <button class="keypad-btn org-btn">=</button>
        </div>
        
    </div>
</div>